*,
*::before,
*::after,
html,
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height:100%
}

body{
  
    background-color:rgb(136, 105, 88);
}
.calculator {
    width: 600px;
    height: 850px;
    margin: 0 auto;
    margin-top: 2rem;
    padding-top:1.5rem;
    border: 6px ridge rgb(41, 0, 0); 
    border-radius: 15px;
    box-shadow:8px 8px;
    background: linear-gradient(to right, #d40a0ab0, rgb(184, 1, 1));
   
}

#display {
    width: 85%;
    height: 18%;
    margin: 3rem auto 2.5rem auto;
    border-radius: 12px;
    border: 8px ridge rgb(62, 62, 65);
    box-shadow: 5px 3px;
    font-family: 'Ubuntu mono';
    background-color: beige;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 3rem;
    padding-right: 10px; 
    pointer-events:none;
}



.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin: 0 auto;
    width: 85%;
    height: 68%;
    gap: 2%;
    font-family: 'Ubuntu mono';
    color:beige;
    font-size:2.5rem;


}

.button {
    border: 3px solid black;
    /* border: 10px  black; */
    width: 90%;
    height: 85%;
    margin: 0 auto;
    box-shadow: 4px 4px black;;
    border-radius: 12px;
    background: linear-gradient(to right, rgb(60, 167, 167) 0%, rgb(1, 107, 107) 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: 0.05s ease-out;
    user-select: none;
}
.button:active{
   
    box-shadow:none;
    background-color:rgb(1, 107, 107);
    transform: translateY(4px);
}

.button:hover{
    cursor:pointer;
}



/* color bank */

.pasrapport {
    background-color: darkcyan;
    background-color: rgb(1, 43, 43);
    background-color: rgb(18, 147, 156);
}

#equals {
    grid-column:1/ span 2;

}

